{% set menus = menu_service.findAll %}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			blog -
			{% block title %}{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>


	<body>
		<nav class="py-2 bg-dark border-bottom">
			<div class="container d-flex flex-wrap">
				<div class="dropdown">
					<a class="nav-link link-light px-2 dropdown-toggle text-white" href="#" role="button" id="dropdownAdminLink" data-bs-toggle="dropdown" aria-expanded="false">
						mon blog
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdownAdminLink">
						<li>
							<a class="dropdown-item" href="{{ path('admin') }}">Tableau de bord</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ ea_admin_url('MenuCrudController') }}">menu</a>
						</li>
					</ul>

				</div>
				<div class="dropdown">
					<a class="nav-link link-light px-2 dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Ajouter
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item">Article</a>
						</li>
						<li>
							<a class="dropdown-item">Page</a>
						</li>
					</ul>
				</div>


			</div>

		</nav>
		<div class="container">
			<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
				<a href={{ path('app_home') }} class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
					<span class="fs-4 header-title">
						<i>mon blog</i>
					</span>
				</a>
				<ul class="nav nav-pills align-items-center">
					{% for menu in menus %}
						{% if menu.subMenus.count > 0 %}
							<div class="dropdown">
								<a class="nav-link link-light text-dark px-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="menu-label">{{ menu.name }}</span>
								</a>
								<ul class="dropdown-menu">
									{% for subMenu in menu.subMenus %}
										<li>
											<a class="dropdown-item" href="{{ subMenu|menuLink }}">{{ subMenu.name }}</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						{% else %}
							<li class="nav-item">
								<a href="{{ menu|menuLink }}" class="nav-link">
									<span class="menu-label">{{ menu.name }}</span>
								</a>
							</li>
						{% endif %}
					{% endfor %}

					{% if not is_granted('IS_AUTHENTICATED_FULLY') %}

						<li class="nav-item">
							<a class="nav-link text-dark " href="{{ path('app_register') }}">s'inscrire</a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-dark " href="{{ path('app_login') }}">conecter</a>
						</li>


					{% else %}
						<div class="dropdown">

							<a class="nav-link link-light text-dark px-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{{ app.user.username|capitalize }}
							</a>

							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="{{ path('app_profil',{username:app.user}) }}">Mon profil</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
								</li>
							</ul>
						</div>


					{% endif %}
				</ul>
			</header>
		</div>

		{% block body %}{% endblock %}
		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
				<div class="col-md-4 d-flex align-items-center">
					<span class="copyright">©
						{{ 'now'|date('Y') }}
						<i>
							<b>mon blog
							</b>
						</i>
					</span>
				</div>
			</footer>
		</div>
	</body>
</html>
